@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    @apply transition duration-300 text-blue-500 hover:text-blue-700
}

.centerImage {
	display: block;
    margin: 0 auto;
}

#response, #request {
	@apply bg-dark-700 p-4 rounded shadow;
}

#resTook, #resSize {
	@apply flex justify-between px-2 py-1 bg-dark-500 rounded text-gray-200;
}
#resTook span, #resSize span {
	@apply text-gray-400;
}

button[data-buttonactive="true"] {
	@apply bg-dark-600 text-white;
}

/* react-select */
.react-select__control {
	border:none !important;
	background:none !important;
}

.react-select-container, .react-select__value-container {
	@apply bg-dark-800 text-white border-0;
}

.react-select__menu-list, .react-select__indicators  {
	@apply bg-dark-800;
}

.react-select__option {
	@apply bg-dark-800 hover:bg-blue-500 duration-300;
}
